In [1]:
# Import the required libraries and set the plotting options.
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date

sns.set(rc = {'figure.figsize': (15,10)})

In [2]:
# Import necessary files onto Python for analysis purposes.
covid_cases = pd.read_csv("covid_19_uk_cases.csv")
vaccination_rates = pd.read_csv("covid_19_uk_vaccinated.csv")
tweets = pd.read_csv("tweets.csv")

## Exploring the Data

### 1. covid_cases

In [4]:
# Printing first 5 rows.
covid_cases.head()

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised
0,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-22,0.0,0.0,0.0,0.0
1,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-23,0.0,0.0,0.0,0.0
2,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-24,0.0,0.0,0.0,0.0
3,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-25,0.0,0.0,0.0,0.0
4,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-26,0.0,0.0,0.0,0.0

In [5]:
# Printing last 5 rows of data.
covid_cases.tail()

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised
7579,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-10,137735.0,8154306.0,0.0,378.0
7580,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-11,137763.0,8193769.0,0.0,386.0
7581,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-12,137944.0,8231437.0,0.0,386.0
7582,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-13,138080.0,8272883.0,0.0,0.0
7583,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-14,138237.0,8317439.0,0.0,0.0

In [3]:
# Determining shape, data type, and concise summary of covid_cases data set.
print(covid_cases.shape)
print(covid_cases.dtypes)
# info() to determine the exact columns where we have missing data.
print(covid_cases.info())

(7584, 12)
Province/State               object
Country/Region               object
Lat                         float64
Long                        float64
ISO 3166-1 Alpha 3-Codes     object
Sub-region Name              object
Intermediate Region Code      int64
Date                         object
Deaths                      float64
Cases                       float64
Recovered                   float64
Hospitalised                float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7584 entries, 0 to 7583
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province/State            7584 non-null   object
 1   Country/Region            7584 non-null   object
 2   Lat                       7584 non-null   float64
 3   Long                      7584 non-null   float64
 4   ISO 3166-1 Alpha 3-Codes  7584 non-null   object
 5   Sub-region Name           7584 non-null   object
 6   Intermediate Region Code  7584 non-null   int64
 7   Date                      7584 non-null   object
 8   Deaths                    7582 non-null   float64
 9   Cases                     7582 non-null   float64
 10  Recovered                 7582 non-null   float64
 11  Hospitalised              7582 non-null   float64
dtypes: float64(6), int64(1), object(5)
memory usage: 711.1+ KB
None

In [7]:
# Number of rows with missing data.
covid_cases_na = covid_cases[covid_cases.isna().any(axis=1)]
# Printing shape of new dataframe, covid_cases_na.
print(covid_cases_na.shape)
# Printing rows with missing data.
covid_cases_na

(2, 12)

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised
875,Bermuda,United Kingdom,32.3078,-64.7505,BMU,Northern America,0,2020-09-21,NaN,NaN,NaN,NaN
876,Bermuda,United Kingdom,32.3078,-64.7505,BMU,Northern America,0,2020-09-22,NaN,NaN,NaN,NaN

### 2. vaccination_rates

In [8]:
# Printing first 5 rows of vaccination_rates data set.
vaccination_rates.head()

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Vaccinated,First Dose,Second Dose
0,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-22,0,0,0
1,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-23,0,0,0
2,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-24,0,0,0
3,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-25,0,0,0
4,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-26,0,0,0

In [9]:
# Printing last 5 rows of vaccination_rates data set.
vaccination_rates.tail()

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Vaccinated,First Dose,Second Dose
7579,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-10,1070,1216,1070
7580,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-11,1300,1604,1300
7581,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-12,1482,2027,1482
7582,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-13,0,0,0
7583,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-14,0,0,0

In [10]:
# Determining shape, data type, and concise summary of vaccination_rates data set.
print(vaccination_rates.shape)
print(vaccination_rates.dtypes)
print(vaccination_rates.info())

(7584, 11)
Province/State               object
Country/Region               object
Lat                         float64
Long                        float64
ISO 3166-1 Alpha 3-Codes     object
Sub-region Name              object
Intermediate Region Code      int64
Date                         object
Vaccinated                    int64
First Dose                    int64
Second Dose                   int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7584 entries, 0 to 7583
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province/State            7584 non-null   object
 1   Country/Region            7584 non-null   object
 2   Lat                       7584 non-null   float64
 3   Long                      7584 non-null   float64
 4   ISO 3166-1 Alpha 3-Codes  7584 non-null   object
 5   Sub-region Name           7584 non-null   object
 6   Intermediate Region Code  7584 non-null   int64
 7   Date                      7584 non-null   object
 8   Vaccinated                7584 non-null   int64
 9   First Dose                7584 non-null   int64
 10  Second Dose               7584 non-null   int64
dtypes: float64(2), int64(4), object(5)
memory usage: 651.9+ KB
None

In [11]:
# Number of rows with missing data.
vaccination_rates_na = vaccination_rates[vaccination_rates.isna().any(axis=1)]
# Printing the shape of vaccination_rates_na, and the vaccination_rates_na dataframe.
print(vaccination_rates_na.shape)
vaccination_rates_na

(0, 11)

Empty DataFrame
Columns: [Province/State, Country/Region, Lat, Long, ISO 3166-1 Alpha 3-Codes, Sub-region Name, Intermediate Region Code, Date, Vaccinated, First Dose, Second Dose]
Index: []

## Merging and exploring data

### 1. Merging covid_cases and vaccination_rates together

In [12]:
# Merging datasets. 
cov_vacc_merge = pd.merge(covid_cases, vaccination_rates)

In [13]:
# Prints first two rows of merged dataset.
cov_vacc_merge.head(2)

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised,Vaccinated,First Dose,Second Dose
0,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-22,0.0,0.0,0.0,0.0,0,0,0
1,Anguilla,United Kingdom,18.2206,-63.0686,AIA,Latin America and the Caribbean,29,2020-01-23,0.0,0.0,0.0,0.0,0,0,0

In [14]:
# Prints last two rows of merged dataset.
cov_vacc_merge.tail(2)

,Province/State,Country/Region,Lat,Long,ISO 3166-1 Alpha 3-Codes,Sub-region Name,Intermediate Region Code,Date,Deaths,Cases,Recovered,Hospitalised,Vaccinated,First Dose,Second Dose
7582,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-13,138080.0,8272883.0,0.0,0.0,0,0,0
7583,Others,United Kingdom,55.3781,-3.436,GBR,Northern Europe,0,2021-10-14,138237.0,8317439.0,0.0,0.0,0,0,0

In [15]:
# Prints datatypes of the columns in merged dataset, the shape and concise info on merged dataset.
print(cov_vacc_merge.dtypes)
print(cov_vacc_merge.shape)
print(cov_vacc_merge.info())

Province/State               object
Country/Region               object
Lat                         float64
Long                        float64
ISO 3166-1 Alpha 3-Codes     object
Sub-region Name              object
Intermediate Region Code      int64
Date                         object
Deaths                      float64
Cases                       float64
Recovered                   float64
Hospitalised                float64
Vaccinated                    int64
First Dose                    int64
Second Dose                   int64
dtype: object
(7584, 15)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7584 entries, 0 to 7583
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province/State            7584 non-null   object
 1   Country/Region            7584 non-null   object
 2   Lat                       7584 non-null   float64
 3   Long                      7584 non-null   float64
 4   ISO 3166-1 Alpha 3-Codes  7584 non-null   object
 5   Sub-region Name           7584 non-null   object
 6   Intermediate Region Code  7584 non-null   int64
 7   Date                      7584 non-null   object
 8   Deaths                    7582 non-null   float64
 9   Cases                     7582 non-null   float64
 10  Recovered                 7582 non-null   float64
 11  Hospitalised              7582 non-null   float64
 12  Vaccinated                7584 non-null   int64
 13  First Dose                7584 non-null   int64
 14  Second Dose               7584 non-null   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 948.0+ KB
None

In [16]:
# Changing data type of Date column from object to DateTime.
cov_vacc_merge['Date'] = pd.to_datetime(cov_vacc_merge['Date'])

print(cov_vacc_merge.dtypes)

Province/State                      object
Country/Region                      object
Lat                                float64
Long                               float64
ISO 3166-1 Alpha 3-Codes            object
Sub-region Name                     object
Intermediate Region Code             int64
Date                        datetime64[ns]
Deaths                             float64
Cases                              float64
Recovered                          float64
Hospitalised                       float64
Vaccinated                           int64
First Dose                           int64
Second Dose                          int64
dtype: object

In [17]:
# Dropping unnecessary columns from merged DataFrame. 
cov_vacc_drop = cov_vacc_merge.drop(columns=['Lat', 'Long', 
                                             'ISO 3166-1 Alpha 3-Codes',
                                             'Sub-region Name', 'Intermediate Region Code'])

cov_vacc_drop.head()

,Province/State,Country/Region,Date,Deaths,Cases,Recovered,Hospitalised,Vaccinated,First Dose,Second Dose
0,Anguilla,United Kingdom,2020-01-22,0.0,0.0,0.0,0.0,0,0,0
1,Anguilla,United Kingdom,2020-01-23,0.0,0.0,0.0,0.0,0,0,0
2,Anguilla,United Kingdom,2020-01-24,0.0,0.0,0.0,0.0,0,0,0
3,Anguilla,United Kingdom,2020-01-25,0.0,0.0,0.0,0.0,0,0,0
4,Anguilla,United Kingdom,2020-01-26,0.0,0.0,0.0,0.0,0,0,0